.container, .aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px 0px 100px;
}

.imageContainer {
    flex: 1;
}

.textContainer {
    flex: 1
}

.textContainer h1 {
    font-size: 3rem;
}

.textContainer p {
    font-size: 1.6rem;
    font-weight: 400;
}

@media (max-width: 800px) {
    .container, .aboutContainer {
        flex-direction: column;
        height: auto;
        margin: 10px 20px 0px 20px
    }

    .imageContainer {
        display: none;
    }

    .textContainer {
        margin: 10px 20px 5px 20px
    }
}


