* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212 !important;
  color: #fff !important;
  overflow: hidden;
  overflow-y: scroll;
}