:root {
  --textColor: #536b78;
  --backgroundColor: #cee5f2;
  --hoverColor: #accbe1
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--backgroundColor) !important;
  color: var(--textColor) !important;
  overflow: hidden;
  overflow-y: scroll;
}